:root {
  --body-bg-color: #f7f7f7;
}

body {
  background-color: var(--body-bg-color) !important;
}

.users_content_wrap {
  margin-top: 100px;
  margin-left: 300px;
}

.user_content_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .left_heading {
    display: flex;
    flex-direction: row;
    align-items: center;

    .button_controls {
      display: flex;
      list-style-type: none;
      flex-direction: row;
      margin-left: 20px;

      .outline_btn {
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        color: #705cc4;
        margin-right: 20px;
        transition: all 300ms ease-in-out;
        box-shadow: #705cc4 0px 3px 8px;
        &:active {
          background: #705cc4;
          box-shadow: none;
        }
      }

      .create_user_btn {
        cursor: pointer;
        color: white;
        background: #705cc4;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: #705cc4 0px 3px 8px;
        transition: all 300ms linear;
        &:active {
          box-shadow: none;
        }
      }
    }
  }

  .title_filter_controls {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;



    li {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      color: black;
      font-weight: 600;
      padding: 5px 20px;
      transition: all 300ms linear;
      margin-right: 10px;
      transition: all 300ms linear;


      &::after{
        position: absolute;
        content: '';
        background: #705cc4;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -30%;
        transition: all 300ms linear;
       
      }

      &:hover::after{
        width: 100%;
      }


    
    }
  }
}

.table {
  background: white !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .table_content {
    color: #98a1b2;

    .thead_filter {
      display: flex;
      align-items: center;

      ion-icon {
        margin-right: 5px;
        font-weight: 600;
        font-size: 15px;
      }
    }
  }

  .user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.active_title{
  color: #705cc4 !important;
  font-weight: 500 !important;
}